<div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-dark bg-warning">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">SAHARA</a>
                </li>
                {{!-- <li class="nav-item active">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Pricing</a>
                </li> --}}
            </ul>
        </div>

        {{!-- SEARCH BAR --}}
        <div class="SearchDiv">
            <div class="mx-auto order-0">
                <form class="form-inline" id="searchBar" method="POST" action="/api/search">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                        name="searchTerm" id="search-term">
                    <input id="submit-button" type="submit" value="search">
                </form>

            </div>
        </div>

        {{!-- PROFILE DROPDOWN --}}
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown c">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/login">Log In</a>
                        <a class="dropdown-item" href="/signup">Sign Up</a>
                        {{!-- <a class="dropdown-item" href="#">Order history</a>
                        <a class="dropdown-item" href="#">Profile Information</a> --}}
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>


<div class="container-fluid mt-3" style="display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;">
    <div class="btn-group">
        <button class="btn btn-secondary btn-lg bg-warning" type="button">
            Categories
        </button>
        <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split bg-warning"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
            </input>
            <div class="dropdown-menu">
                <a class="dropdown-item category">Home Decor</a>
                <a class="dropdown-item category">Movies</a>
                <a class="dropdown-item category">Outdoors</a>
                <a class="dropdown-item category">Pet Supplies</a>
                <a class="dropdown-item category">Video Games</a>
                <a class="dropdown-item category">Vinyl Records</a>
            </div>
    </div>
</div>

<br>
<div class="container" id="newItems">
    <div class="card-group">
        {{#each products}}
        <div class="card mx-2">
            <div id="imageModifyDiv">
                <img src="{{this.image}}" class="card-img-top img-fluid home-page-image" alt=`ProductImage={{this.id}}`>
            </div>
            <div class="card-body">

                <h5 class="card-title" style="text-align: center">{{this.product_name}}</h5>
                <h2 class="card-title">${{this.product_price}}</h2>
                <p class="card-text">{{this.product_description}}</p>

            </div>
        </div>
        {{/each}}

    </div>
</div>

<br><br>