<div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-dark bg-warning">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link logo-box" href="/">
                        <img src="https://i.imgur.com/mwu0V9z.jpg" alt="Sahara_logo">
                    </a>
                </li>
                {{!-- <li class="nav-item active">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Pricing</a>
                </li> --}}
            </ul>
        </div>

        {{!-- SEARCH BAR --}}
        <div class="SearchDiv">
            <div class="mx-auto order-0">
                <form class="form-inline" id="searchBar" method="POST" action="/api/search">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                        name="searchTerm" id="search-term">
                    <input id="submit-button" type="submit" value="search">
                </form>

            </div>
        </div>

        {{!-- PROFILE DROPDOWN --}}
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown c">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
                    {{#if session.email}}
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/api/userProfile/{{session.email}}">Account</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                        {{!-- <a class="dropdown-item" href="#">Order history</a>
                        <a class="dropdown-item" href="#">Profile Information</a> --}}
                    </div>

                    {{else}}
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/login" data-id="{{session.email}}">Log In</a>
                        <a class="dropdown-item" href="/signup">Sign Up</a>
                        {{!-- <a class="dropdown-item" href="#">Order history</a>
                        <a class="dropdown-item" href="#">Profile Information</a> --}}
                    </div>
                    {{/if}}
                </li>
            </ul>
        </div>
    </nav>
</div>

<br><br>


<div class="container bg-warning pb-4">
    <div class="row text-center">
        <h1 class="text-center">Your Current Items for Sale</h1>
    </div>
    <div class="container" id="newItems">
        <div class="row justify-content-center">
            {{#each products}}
            <div class="col-3 border border-dark bg-light m-1">
                <div id="imageModifyDiv">
                    <img src="{{this.image}}" class="card-img-top img-fluid product pointer" alt="productImage"
                        data-id="{{id}}">
                </div>
                <div class="featured-info">

                    <h5 class="product pointer" style="text-align: center" data-id="{{id}}">{{this.product_name}}</h5>
                    <h2>${{this.product_price}}</h2>
                    <p>{{this.product_description}}</p>

                </div>
            </div>
            {{/each}}

        </div>
    </div>


</div>

<br><br>

<br><br>

<div class="container-fluid footer bg-warning mb-0">
    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 myCols">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/api/search/all">Products</a></li>
                        <li><a href="/login">Account</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 myCols">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="/about">Company Information</a></li>
                        <li><a href="/contact">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 myCols">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 myCols">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {{!-- <div class="footer-copyright">
            <p>© 2019 Sahara </p>
        </div> --}}
    </footer>
</div>